---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} AI Trend News. All rights reserved.
	<div class="footer-links">
		<a href="/privacy-policy">プライバシーポリシー</a>
		<span>|</span>
		<a href="/contact">お問い合わせ</a>
	</div>
	<div class="social-links">
		<a href="/rss.xml" target="_blank" aria-label="RSSフィード">
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
				><path
					fill="currentColor"
					d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5-.5a5.5 5.5 0 0 0-5.5-5.5.5.5 0 0 1 0-1 6.5 6.5 0 0 1 6.5 6.5.5.5 0 0 1-1 0zm4 0a9.5 9.5 0 0 0-9.5-9.5.5.5 0 0 1 0-1 10.5 10.5 0 0 1 10.5 10.5.5.5 0 0 1-1 0z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.footer-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.footer-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.footer-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
